<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>

<h1>Create Post</h1>

<form th:method="POST" th:action="@{/posts/create}" th:object="${post}">
    <div>
        <label for="title">Title</label>
        <br>
        <input name="title" th:field="*{title}" id="title" type="text" th:value="*{title}" >
    </div>
    <div>
        <label for="body">Body</label>
        <br>
        <textarea name="body" th:field="*{body}" id="body" th:text="*{body}" ></textarea>
    </div>
<!--    <div>-->
<!--        <label for="image_1">Image 1</label>-->
<!--        <input id="image_1" name="urls" type="url" placeholder="enter image url">-->
<!--        <br>-->
<!--        <label for="image_2">Image 2</label>-->
<!--        <input id="image_2" name="urls" type="url" placeholder="enter image url">-->
<!--    </div>-->
    <button>Create Posts</button>
</form>

</body>
</html>